# Ignore the node_modules folder inside Backend
Backend/node_modules/

# Ignore package-lock.json inside Backend
Backend/package-lock.json

# Ignore package.json inside Backend
Backend/package.json

# Ignore the .env file inside Backend (file, not folder)
Backend/.env

# Ignore the .vscode folder inside Backend
# .vscode