API_KEY=YOUR_FIREBASE_API_KEY
AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN
PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET
MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
APP_ID=YOUR_FIREBASE_APP_ID

DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
PORT=3000

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx
