apiKey=YOUR_API_KEY
authDomain=FIREBASE_DOMAIN
projectId=PROJECT_NAME
storageBucket=FIREBASE_STORAGE
messagingSenderId=MESSAGE_ID
appId=1:MESSAGEID:web:WEB

DB_HOST=YOUR_HOST
DB_USER=YOUR_ROOT
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
PORT=YOUR_PORT

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx